@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

html,
body {
  color: black;
  background: linear-gradient(to right, white, #0abab5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  height: 100%;
  position: absolute;
  width: 100%;
  flex: 1;
}

main h1 {
  font-weight: bold;
  font-size: 450%;
}

.slogan_section {
  line-height: 120px;
  align-self: flex-start;
}

.future_span {
  color: #0abab5;
}

.firstLine_div,
.secondLine_div,
.thirdLine_div,
.fourthLine_div {
  border: 3px solid white;
  width: 1630px;
  height: 1630px;
  position: fixed;
  border-radius: 50%;
}

.firstLine_div {
  bottom: -200px;
  right: -1050px;
}

.secondLine_div {
  bottom: -552px;
  right: -750px;
}

.thirdLine_div {
  bottom: -900px;
  right: -600px;
}

.fourthLine_div {
  bottom: -1300px;
  right: -800px;
}

.linesDesign_section div {
  animation: fadein 1.6s;
  -moz-animation: fadein 1.6s;
  -webkit-animation: fadein 1.6s;
  -o-animation: fadein 1.6s;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.sectionsContainer_div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  height: 100vh;
  display: flex;
  width: 100%;
}

.section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  border-bottom: 5px solid #ffffff;
}
